.arena-events-area {
    background-color: #1D2042;
    width: 100%;
    min-height: 100vh;
    background-image: url('../image/stage.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.arena-background-line {
    // border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: repeating-linear-gradient(135deg, #F2F2FF, #F2F2FF 2px, transparent 0, transparent 50%);
    background-size: 30px 30px;
    z-index: -1;
}

#main-content-arena {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px;

    @include rwd-max(1000px) {
        padding: 80px 0 120px;
    }
}

.index-subtitle {
    max-width: 500px;
}

#chicken-egg {
    position: absolute;
    // left: 5%;
    // bottom: 5%;
     left: -50%;
    // bottom: 45%;
    z-index: -1;
    max-width: 444px;
    width: 35%;
    filter: drop-shadow(3px 12px 10px rgba(0, 0, 0, 0.27));

    // @include rwd-max(600px) {
    //     bottom: 3%;
    // }

}

.chicken-egg-animate{
    animation: chicken-egg-in 2s ease-in-out 0s forwards,
    chicken-egg-shake 4s linear 2s infinite;
}
@keyframes chicken-egg-in {
    0% {
        left: -20%;
        bottom: 10%;
        transform: scale(0.7);
    }

    100% {
        left: 5%;
        bottom: 5%;
        transform: scale(1);
    }
}
@media all and (max-width: 600px){
    @keyframes chicken-egg-in {
        0% {
            left: -20%;
            bottom: 10%;
            transform: scale(0.7);
        }
    
        100% {
            left: 3.5%;
            bottom: 2%;
            transform: scale(1);
        }
    }
}

@keyframes chicken-egg-shake {
    0% {
        left: 5%;
    }

    3% {
        left: 6%;
    }

    6% {
        left: 5%;
    }

    9% {
        left: 6%;
    }

    12% {
        left: 5%;
    }

    100% {
        left: 5%;
    }
}

#naughty-elf {
    position: absolute;
    // right: -5%;
    // top: -8%;
    z-index: -1;
    max-width: 227px;
    width: 25%;
    filter: drop-shadow(3px 12px 10px rgba(0, 0, 0, 0.27));
    right: -20%;

}

.naughty-elf-animate{
    animation: naughty-elf-in 2s ease-in 0s forwards,
    naughty-elf-shake 4s linear 2s infinite;
}

@keyframes naughty-elf-in {
    0% {
        right: -5%;
        top: -8%;
        transform: scale(0.7);
    }
    30% {
        right: 1%;
        top: -4%;
    }
    60% {
        right: 0%;
        top: 0%;
    }
    100% {
        right: 5%;
        top: 5%;
        transform: scale(1);
    }
}

@keyframes naughty-elf-shake {
    0% {
        right: 5%;
        top: 5%;
    }

    25% {
        right: 5.5%;
        top: 7%;
    }

    50% {
        right: 6%;
        top: 5%;
    }

    75% {
        right: 5.5%;
        top: 7%;
    }
    100% {
        right: 5%;
        top: 5%;
    }
}
@media all and (max-width: 600px){
    @keyframes naughty-elf-in {
        0% {
            right: -5%;
            top: -8%;
            transform: scale(0.7);
        }
        30% {
            right: 1%;
            top: -4%;
        }
        60% {
            right: 0%;
            top: 0%;
        }
        100% {
            right: 2%;
            top: 0.5%;
            transform: scale(1);
        }
    }
    @keyframes naughty-elf-shake {
        0% {
            right: 2%;
            top: 0.5%;
        }
    
        25% {
            right: 2.5%;
            top: 2.5%;
        }
    
        50% {
            right: 3%;
            top: 0.5%;
        }
    
        75% {
            right: 2.5%;
            top: 2.5%;
        }
        100% {
            right: 2%;
            top: 0.5%;
        }
    }
}


.arena-carousel {
    // border: 1px solid rgb(255, 238, 0);
    max-width: 1036px;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.arena-card {
    // width: 288px;
    // height: 388px;
    padding: 23px 23px 48px;
    display: inline-block;

    // border-radius: 10px;

    box-shadow: 8px 9px 15px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    overflow: hidden;
    border-radius: 10px;

    @include rwd-max(1500px){
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    @include rwd-max(1000px) {
        display: none;
        
    }
}

.arena-card-background {
    background-image: linear-gradient(145deg, #445278 0%, #2b3a60 26%, #59678b 43%, #2b3c67 61%, #1d2844 77%, #35405d 88%, #6b7797 93%, #d1dcff 98%);
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.arena-card-poster {
    width: 242px;
    height: 269px;
    opacity: 0.8;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 23px;
}

.arena-card-title {
    color: var(--light-lavender);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    line-height: 1.5;

}

.arena-card-poster {
    object-fit: cover;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    position: relative;
}

.arena-card-poster img {
    position: absolute;
}

#christmas {
    width: 275%;
    top: -5%;
    left: -40%;
    opacity: 0.9;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    transition: all 1.5s linear;
    // animation: christmas 20s linear 0s infinite;
}

#arena-card-christmas:hover #christmas {

    top: 0%;
    left: -130%;

}

// @keyframes christmas {
//     0% {
//         top: -5%;
//         left: -30%;
//     }

//     50% {
//         top: 0%;
//         left: -150%;
//     }

//     0% {
//         top: -5%;
//         left: -30%;
//     }
// }

#newyear {
    width: 310%;
    // top: 0%;
    // left: -160%;
    top: 0%;
    left: -150%;
    opacity: 0.9;
    -webkit-filter: blur(0.2px);
    filter: blur(0.2px);
    transition: all 1.5s linear;
    // animation: newyear 20s linear 0s infinite;
}

#arena-card-newyear:hover #newyear {

    top: -21%;
    left: -45%;

}

// @keyframes newyear {
//     0% {
//         top: 0%;
//         left: -105%;
//     }

//     50% {
//         top: -21%;
//         left: -45%;
//     }

//     0% {
//         top: 0%;
//         left: -105%;
//     }
// }

.arena-card-center {
    max-width: 378px;
    height: 546px;
    padding: 32px 32px 25px 32px;
    border-radius: 10px;
    box-shadow: 8px 9px 20px 0 rgba(0, 0, 0, 0.95);
    border: solid 4px var(--lavender);
    background-image: linear-gradient(147deg, rgba(68, 82, 120, 0.3) 0%, rgb(43, 58, 96) 27%, #59678b 48%, #2b3c67 70%, rgba(23, 31, 52, 0.3) 99%);
}

.arena-card-title-center {
    font-size: 26px;
    color: var(--light-lavender);
    margin-bottom: 8px;
    line-height: 1.5;
}

.arena-card-info-center {
    color: var(--lavender);
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
}

.arena-card-poster-center {
    overflow: hidden;
    // width: 300px;
    height: 345px;
    margin-bottom: 24px;
    position: relative;
}

#acl {
    position: absolute;
    width: 210%;
    top: 0%;
    left: -83%;
    transition: all 1.5s linear;
    animation: acl 5s linear 0s infinite;
    transform-origin: center bottom;
}

#arena-card-acl:hover #acl {
    top: 0%;
    left: -105%;
    animation: unset;
}

@keyframes acl {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.arrow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 18%;
    bottom: 0%;

        @include rwd-max(1000px) {
        display: none;
    }
}

.arrow {
    width: 44px;
    height: 44px;
    margin: 0px 5px;
    // padding: 15.9px 18.4px 15.4px 17.6px;
    border-radius: 7px;
    border: solid 1px #c5cbfe;
    background-color: rgba(255, 255, 255, 0.11);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.arrow-svg{
    width: 7.925px;
}

@media (max-width: 1920px) {
    .arena-carousel {
        max-width: 950px;
        // margin-top: -60px;
    }

    .arena-card-center {
        max-width: 350px;
        height: 473px;
        padding: 28px 28px 23px 28px;
    }

    @keyframes acl {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(1);
        }
    }

    .arena-card-poster-center {
        height: 309px;
        margin-bottom: 20px;
    }

    .arena-card-title-center {
        font-size: 22px;
        margin-bottom: 4px;
        line-height: 1.4;
    }

    .arena-card-poster {
        width: 210px;
        height: 233px;
        margin-bottom: 20px;
    }

    .arena-card-title {
        font-size: 17px;
    }

    .arena-card {
        padding: 23px 23px 35px;
    }

    .arrow {
        width: 35px;
        height: 35px;
    }
    .arrow-svg{
        width: 6px;
    }
    
}
@media (max-width: 1000px){
    .arena-carousel {

        margin-top: 60px;
    }
    .arena-events-area {
        height: unset;
        background-size: contain;
    }
}
@media (max-width: 400px) {
    .arena-events-area {
        height: unset;
    }


}