.join-area {
    background-image: url('../image/join-BG.png');
    background-size: cover;
    width: 100%;

}

#main-content-join .index-title-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-content-join .index-subtitle {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.join-info-block {
    margin: 60px auto 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    // margin: 0 20px;
    @include rwd-max(1250px) {
        justify-content: center;
    }

    @include rwd-max(800px) {
        margin: 50px auto;
    }
}

.join-info {
    @include rwd-max(1250px) {
        margin: 0px;
    }
}

.join-info-BG {
    // border: 1px solid red;
    max-width: 330px;
    height: 330px;
    width: 100%;

    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);

    border-radius: 15px;
    position: relative;
    margin: 20px;
    // background-image: url('../image/join-info-BG.png');

}

.info-BG {
    width: 100%;
}

.join-info-inner {
    // border: 1px solid red;
    padding: 43px;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include rwd-max(400px) {
        padding: 43px 40px;
    }
}

.join-info-title {
    color: #FFD560;
    font-size: 22px;

    
    @include rwd-max(400px) {
        font-size: 20px;
    }
}

.info-title-border {
    width: 200px;
    border: 1px solid #FFD560;
    margin: 14px auto 26px;

    @include rwd-max(400px) {
        margin: 14px auto 24px;
    }
}

.join-info-text {
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
    line-height: 1.5;
    text-align: center;

    @include rwd-max(400px) {
        font-size: 14px;
    }
}

.rider-group-block {
    width: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.rider-group-block img {
    width: 100%;
}

.rider-group {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;

}

#rider-01 {
    max-width: 190px;
    width: 17%;
    margin-bottom: -10px;
    animation: rider 10s ease-in-out 0s infinite;

    @include rwd-max(1000px) {
        margin-bottom: -0px;
    }
}

#rider-02 {
    max-width: 200px;
    width: 18%;
    animation: rider 10s ease-in-out 0.4s infinite;
}

#rider-03 {
    max-width: 150px;
    width: 15%;

    animation: rider 10s ease-in-out 0.8s infinite;
}

#rider-04 {
    max-width: 160px;
    width: 15%;
    margin-bottom: -20px;
    animation: rider 10s ease-in-out 0.2s infinite;

    @include rwd-max(1000px) {
        margin-bottom: -0px;
    }
}

#rider-05 {
    max-width: 190px;
    width: 18%;
    margin-bottom: -10px;
    animation: rider 10s ease-in-out 0.6s infinite;

    @include rwd-max(1000px) {
        margin-bottom: -0px;
    }
}

@keyframes rider {
    0% {
        transform: translateY(0px);
    }

    2% {
        transform: translateY(-20px);
    }

    4% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

.line-animation {
    position: absolute;
    bottom: -10%;
    width: 100%;
    overflow: hidden;
    // margin-bottom: -190px;
    z-index: -1;
}

#line-animation-run {
    width: 200%;

    animation: line-animation-run 70s linear infinite;
}

@keyframes line-animation-run {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

#partner-area {
    margin-top: 100px;
}

.partner-block {
    max-width: 1016px;
    margin: 0 auto;
}

.partner-block img {
    width: 100%;
}