.PPSR-Rider{
    /* border: 1px solid rgb(45, 214, 236); */
    width: 609px;
    height: 530px;
    /* margin: 0 30px; */
}

// .PPSR-Rider{
//     /* position: relative; */
// }

.PPSR-Rider-Block{
    /* border: 1px solid red; */
    position: absolute;
    cursor: pointer;
    transition: all .1s ease-in-out;
    /* width: 30%; */
    /* opacity: 0.3; */
}
.PPSR-Rider-Block img{
    width: 100%;
}

.PPSR-Rider-Block-Hover{
    /* transition: all .1s ease-in-out; */
    transform: scale(1.03);
    z-index: 5 !important;
    filter: drop-shadow(rgb(255, 255, 255) 1px 1px 10px) !important;
}
.PPSR-Rider-Block-notHover{
    /* transition: all .1s ease-in-out; */
    opacity: 0.3;
    /* z-index: 0 !important; */
    /* pointer-events: none; */
}

#Rider-Snake{
    top: -10px;
    right: -15px;
    border-radius: 71% 0 64% 0;
    overflow: hidden;
    /* clip-path: polygon(69% 0, 64% 0%, 60% 5%, 54% 3%, 49% 2%, 43% 1%, 43% 6%, 46% 12%, 39% 9%, 34% 11%, 33% 17%, 37% 22%, 32% 21%, 29% 23%, 21% 27%, 15% 32%, 9% 37%, 5% 42%, 5% 50%, 2% 55%, 0 62%, 0 77%, 0 86%, 4% 96%, 15% 100%, 51% 100%, 55% 98%, 60% 98%, 69% 92%, 75% 89%, 81% 82%, 87% 78%, 88% 69%, 88% 60%, 80% 54%, 69% 52%, 66% 56%, 61% 59%, 53% 61%, 47% 66%, 41% 69%, 33% 68%, 28% 66%, 29% 59%, 32% 56%, 37% 52%, 42% 48%, 48% 48%, 53% 48%, 61% 48%, 65% 48%, 74% 55%, 88% 56%, 94% 53%, 100% 45%, 100% 39%, 100% 15%, 94% 10%, 88% 11%, 84% 9%, 82% 6%, 76% 0); */
    clip-path: polygon(69% 0, 64% 0%, 60% 5%, 54% 3%, 49% 2%, 43% 1%, 43% 6%, 46% 12%, 39% 9%, 34% 11%, 33% 17%, 37% 22%, 32% 21%, 29% 23%, 21% 27%, 15% 32%, 9% 37%, 5% 42%, 5% 50%, 2% 55%, 0 62%, 0 77%, 0 86%, 4% 96%, 15% 100%, 51% 100%, 55% 98%, 60% 98%, 69% 92%, 75% 89%, 81% 82%, 87% 78%, 88% 69%, 88% 60%, 80% 54%, 65% 51%, 66% 56%, 61% 59%, 53% 61%, 47% 66%, 41% 69%, 33% 68%, 28% 66%, 29% 62%, 33% 58%, 37% 53%, 42% 51%, 47% 50%, 51% 50%, 58% 49%, 62% 50%, 74% 55%, 88% 56%, 94% 53%, 100% 45%, 100% 39%, 100% 15%, 94% 10%, 88% 11%, 84% 9%, 82% 6%, 76% 0);
    -webkit-clip-path: polygon(69% 0, 64% 0%, 60% 5%, 54% 3%, 49% 2%, 43% 1%, 43% 6%, 46% 12%, 39% 9%, 34% 11%, 33% 17%, 37% 22%, 32% 21%, 29% 23%, 21% 27%, 15% 32%, 9% 37%, 5% 42%, 5% 50%, 2% 55%, 0 62%, 0 77%, 0 86%, 4% 96%, 15% 100%, 51% 100%, 55% 98%, 60% 98%, 69% 92%, 75% 89%, 81% 82%, 87% 78%, 88% 69%, 88% 60%, 80% 54%, 65% 51%, 66% 56%, 61% 59%, 53% 61%, 47% 66%, 41% 69%, 33% 68%, 28% 66%, 29% 62%, 33% 58%, 37% 53%, 42% 51%, 47% 50%, 51% 50%, 58% 49%, 62% 50%, 74% 55%, 88% 56%, 94% 53%, 100% 45%, 100% 39%, 100% 15%, 94% 10%, 88% 11%, 84% 9%, 82% 6%, 76% 0);
    /* width: 490px;
    height: 440px; */
    padding: 15px;
}

#Rider-Knight {
    top: 89px;
    left: 238px;
    border-radius: 56px 63px 61px 135px;
    overflow: hidden;
    /* z-index: 2; */
}
#Rider-Weapon {
    bottom: 0px;
    left: 0px;
    border-radius: 87% 0% 77% 0%;
    overflow: hidden;
    /* z-index: 3; */
}
#Rider-Pet {
    bottom: 65px;
    right: 21px;
    border-radius: 0 50% 0 50%;
    overflow: hidden;
    /* z-index: 4; */

}



/* SVG 線動畫 */
.line-Rider{
    /* border: 1px solid red; */
    position: absolute;
    opacity: 1;

    z-index: 10;

    display: none;
}
.Info-Rider{
    position: absolute;
    font-size: 38px;
    color: #ffffff;
    z-index: 10;
    text-shadow: 0px 0px 5px #98ECFF ;
    display: block !important;


    opacity: 0;
    z-index: -1;
}

.Info-Rider-show{
    opacity: 1 !important;
    z-index: 10 !important;
    display: block !important;
    transition: all 0.1s ease-in-out; 
    transition-delay: 0.4s;
}

#line-Rider-Snake{
    width: 204px;
    height: 57px;
    bottom: 30px;
    left: 227px;
}
#Info-Rider-Snake{
    bottom: 13px;
    left: 430px;
}

#line-Rider-Knight{
    width: 81px;
    height: 135px;
    top: -9px;
    left: 452px;
}
#Info-Rider-Knight{
    top: -54px;
    left: 504px;
}

#line-Rider-Weapon{
    width: 51px;
    height: 172px;
    bottom: 160px;
    left: 300px;
}
#Info-Rider-Weapon{
    bottom: 328px;
    left: 273px;
}

#line-Rider-Pet{
    width: 67px;
    height: 170px;
    bottom: 245px;
    right: 43px;
}
#Info-Rider-Pet{
    bottom: 403px;
    right: 25px;
}

#Rider-Pet{
    animation: Rider-Block-Shadow 3s infinite;
    /* opacity: 1; */
}


@keyframes Rider-Block-Shadow{
    0%{ 
        margin-bottom: 20px;
        transform: scale(1.03);
        filter: drop-shadow(rgba(255, 255, 255, 0.7) 1px 1px 10px)
    }
    50%{
        margin-bottom: 0px;
        transform: scale(1.0);
        filter: drop-shadow(rgba(255, 255, 255, 0.7) 1px 1px 2px)
    }
    100%{
        /* transform: translateY(20px); */
        margin-bottom: 20px;
        transform: scale(1.03);
        filter: drop-shadow(rgb(255, 255, 255, 0.7) 1px 1px 10px)
    }
}

/* 初始透明度 */
.Rider-first{
    opacity: 1;
}
.PPSR-Click-Icon{
    /* border: 1px solid red; */
    width: 100px;
    position: absolute;
    right: -10px;
    bottom: 60px;
    filter: drop-shadow(0px 0px 10px rgba(27, 27, 27, 0.8));

    animation: PPSR-Click-Icon 1.5s infinite;
}
@keyframes PPSR-Click-Icon{
    0%{ 
        transform: translateX(80px);
    }
    100%{
        transform: translateX(0px);
    }
}
.PPSR-Click-Icon img{
    width: 100%;
}





#line-Rider-Knight path{
    stroke-dasharray: 381;
    /* stroke-dashoffset: 0; */
    animation: line-Rider-Knight 0.4s linear forwards;
}

@keyframes line-Rider-Knight {
    from {
      stroke-dashoffset: -381;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#line-Rider-Snake path{
    stroke-dasharray: 255;
    /* stroke-dashoffset: 0; */
    animation: line-Rider-Snake 0.4s linear forwards;
}

@keyframes line-Rider-Snake {
    from {
      stroke-dashoffset: 255;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#line-Rider-Weapon path{
    stroke-dasharray: 186;
    /* stroke-dashoffset: 0; */
    animation: line-Rider-Weapon 0.4s linear forwards;
}

@keyframes line-Rider-Weapon {
    from {
      stroke-dashoffset: 186;
    }
    to {
      stroke-dashoffset: 0;
    }
}

#line-Rider-Pet path{
    stroke-dasharray: 203;
    /* stroke-dashoffset: 0; */
    animation: line-Rider-Pet 0.4s linear forwards;
}

@keyframes line-Rider-Pet {
    from {
      stroke-dashoffset: 203;
    }
    to {
      stroke-dashoffset: 0;
    }
}



@media all and (max-width: 800px){
    .PPSR-Rider{
        margin: 0;
    }
}
@media all and (max-width: 700px){
    #PPSR-Rider-All{
        width: 100%;
    }
    .PPSR-Rider{
        margin: 0;
        width: 360px;
        height: 313px;
    }
    #Rider-Snake{
        width: 300px;
        top: -10px;
        right: -15px;
    }
    
    #Rider-Knight {
        width: 124px;
        top: 53px;
        left: 140px;
    }
    #Rider-Weapon {
        width: 165px;
        bottom: 0px;
        left: 0px;
    }
    #Rider-Pet {
        width: 96px;
        bottom: 38px;
        right: 13px;
    }
    .Info-Rider{
        font-size: 24px;
    }
    
    #line-Rider-Snake{
        width: 120px;
        /* height: 57px; */
        bottom: 20px;
        left: 127px;
    }
    #Info-Rider-Snake{
        bottom: 21px;
        left: 247px;
    }

    #line-Rider-Knight{
        width: 51px;
        height: 135px;
        top: 30px;
        left: 260px;
    }
    #Info-Rider-Knight{
        top: 25px;
        left: 275px;
    }

    #line-Rider-Weapon{
        width: 30px;
        /* height: 172px; */
        bottom: 60px;
        left: 175px;
    }
    #Info-Rider-Weapon{
        bottom: 195px;
        left: 155px;
    }

    #line-Rider-Pet{
        width: 35px;
        /* height: 170px; */
        bottom: 105px;
        right: 40px;
    }
    #Info-Rider-Pet{
        bottom: 230px;
        right: 30px;
    }

    .PPSR-Click-Icon{
        /* border: 1px solid red; */
        width: 70px;
        position: absolute;
        right: -10px;
        bottom: 35px;
        filter: drop-shadow(0px 0px 10px rgba(27, 27, 27, 0.8));
    
        animation: PPSR-Click-Icon 1.5s infinite;
    }


}







