.contactPopupBlock {
    --lavender: #C5CBFE;
    --yellow: #FFD560;
    --white: #FFFFFF;


    // border: 1px solid red;
    width: 100%;
    height: 100%;
    letter-spacing: 0.5px;

    position: absolute;
    z-index: 10;



    .contact-click {
        width: 34px;
        height: 34px;
        background-color: var(--lavender);
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 3%;
        bottom: 2%;

        @include rwd(768px) {
            right: 2%;
            bottom: 5%;
        }

        @include rwd(1200px) {
            width: 44px;
            height: 44px;
        }

        .contact-icon {
            width: 16px;

            @include rwd(1200px) {
                width: 20px;
            }

        }

    }

    .contact-popup {
        // border: 1px solid red;
        max-width: 474px;
        width: 90%;
        // height: 700px;

        padding: 17px;
        position: absolute;
        right: 3%;
        bottom: 7%;

        border-radius: 10px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        background-color: rgba(75, 81, 145, 0.8);
        z-index: 10;

        @include rwd(768px) {
            right: 2%;
            bottom: 18%;
        }

        @include rwd(1200px) {
            bottom: 20%;
        }


        .contact-popup-inner {
            box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
            border: solid 2px var(--lavender);
            // background-image: linear-gradient(to bottom, rgba(56, 60, 136, 0.8), rgb(24, 24, 63));
            border-radius: 10px;
            height: 100%;

            background-image: url('../image/stone.png'),
                linear-gradient(to bottom, rgba(56, 60, 136, 0.8), rgb(24, 24, 63));
            background-repeat: no-repeat;
            background-position: center 65%, center center;
            background-blend-mode: luminosity;
            background-size: 70% auto, 100%;



            .contact-title {
                color: var(--yellow);
                font-size: 22px;
                text-align: center;
                position: relative;
                margin: 9% auto 12%;
                font-weight: 500;

                &::before {
                    content: url('../image/sword.png');
                    position: absolute;
                    left: 50%;
                    top: 23%;
                    transform: translateX(-50%)scale(0.82);

                    // z-index: -1;
                    @include rwd(768px){
                        transform: translateX(-50%)scale(01);
                    }
                }

                @include rwd(768px){
                    font-size: 26px;
                }
            }

            .input-data {
                // border: 1px solid red;
                width: 80%;
                margin: 0 auto;



                .form-group {
                    position: relative;
                    // margin-bottom: 1rem;

                    &:last-child {
                        margin-top: 10px;
                    }
                }

                .input-form-control {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid var(--lavender);
                    padding: 11px 10px;
                    background: transparent;
                    color: var(--white);
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    margin-bottom: 12%;


                }


                label {
                    position: absolute;
                    top: 10%;
                    left: 13px;
                    // transform: translateY(-50%);
                    font-size: 16px;
                    color: var(--lavender);
                    transition: all 0.2s ease-out;
                    pointer-events: none;
                    letter-spacing: 0;
                }

                input:focus~label,
                input:not(:placeholder-shown)~label {
                    top: 0;
                    left: 0;
                    transform: translateY(-100%);
                    font-size: 12px;
                    color: var(--lavender);

                }

                input:focus,
                textarea:focus {
                    outline: none;
                }

                .textarea-form-control {
                    width: 100%;
                    padding: 11px 10px;
                    color: var(--white);
                    font-size: 16px;
                    letter-spacing: 0.5px !important;
                    height: 100px;
                    border: solid 1px #c5cbfe;
                    background-color: rgba(197, 203, 254, 0.1);
                    border-radius: 10px;
                    margin-bottom: 8%;
                    resize: none;

                    @include rwd(768px) {
                        height: 120px;
                    }
                }

                textarea:focus~label,
                textarea:not(:placeholder-shown)~label {
                    top: 0;
                    left: 0;
                    transform: translateY(-160%);
                    font-size: 12px;
                    color: var(--lavender);
                }


                button.submit-button[type="submit"] {
                    background-color: var(--lavender);

                    color: #343456;
                    font-size: 16px;
                    padding: 9px 25px 7px;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10%;
                    max-width: 142px;
                    width: 45%;
                    height: 36px;
                    margin-left: auto;

                    @include rwd(768px){
                        height: 38px;
                        padding: 10px 25px 7px;
                    }

                    svg {
                        margin-left: 3px;
                    }
                }

            }



        }

        // transition:  0.2s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateX(10%);
    }

    .showContactPopup {
        visibility: visible;
        opacity: 1;
        transition: 0.2s ease-in-out;
        transform: translateY(0);

    }


}