// media query 由小至大
// 區間 0 ~ 849, 850 ~ 1199, 1200 ~ *

header.top {
  --header-bg-rgb-color: 17, 20, 39;
  --mobile-nav-bg-rgb-color: 17, 20, 39;
  --line-height: 2.8em;
  --icon-space: 5px;
  --nav-padding-left: 0px;
  --nav-item-margin-right: 0px;
  --top-end-space: 0px;
  --top-end-space-nav-end: 0px;
  --rwd-display: block;
  --transition-time: 0.15s;
  --transition-eases: ease-out;
  --transition-time-fast: 0.05s;
  --transition-ease-in-out: ease-in-out;

  position: fixed;
  z-index: 20;
  width: 100%;
  justify-content: space-between;
  padding: 0 8px;
  height: 60px;
  color: var(--white);
  background-color: rgba(var(--header-bg-rgb-color), 0.9);
  transition: transform var(--transition-time) var(--transition-eases);
  font-weight: 300;

  @include rwd(850px) {
    --nav-padding-left: 2em;
    --nav-item-margin-right: 1.5em;
    --top-end-space: 1.5em;
    --top-end-space-nav-end: 1em;
    --rwd-display: flex;

    &.hide {
      transform: translateY(-100%);
    }
  }

  @include rwd(992px) {
    --nav-padding-left: 3em;
    --nav-item-margin-right: 2em;
    --top-end-space: 1.5em;
    --top-end-space-nav-end: 1em;
  }

  @include rwd(1200px) {
    --nav-padding-left: 3.5em;
    --nav-item-margin-right: 2.5em;
    --top-end-space: 2.5em;
    --top-end-space-nav-end: 2em;
    padding: 0px 20px 0 30px;
    // height: 66px;
  }

  .logo {
    max-width: 75px;
    flex-shrink: 0;
    font-size: 0;

    @include rwd(1200px) {
      width: auto;
    }
  }

  .ham {
    cursor: pointer;

    @include rwd(850px) {
      display: none;
    }
  }

  nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(var(--header-bg-rgb-color), 0.9);
    // transition: transform var(--transition-time) var(--transition-eases);
    transform: translateX(-100%);



    @include rwd(850px) {
      position: relative;
      height: auto;
      display: flex;
      justify-content: space-between;
      background-color: unset;
      transform: unset;
      transition: transform var(--transition-time) var(--transition-eases);

    }

    &.show {
      transform: translateX(0%);
      transition: transform var(--transition-time) var(--transition-eases);
    }



    .mobile-wrap {
      @include rwd(850px) {
        display: none;
      }
    }

    .nav-list {

      padding-left: var(--nav-padding-left);
      display: var(--rwd-display);


    }

    .nav-item {
      --snake-svg-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.024' height='12.16' viewBox='0 0 13.024 12.16'%3E%3Cpath data-name='Path 104' d='M3.407 5.077a2.475 2.475 0 0 0-1.81.656A4.262 4.262 0 0 0 .154 7.956a2.828 2.828 0 0 0 1.506 3.593 5.1 5.1 0 0 0 2.516.608c1.058 0 2.115.009 3.173 0 2.919-.029 4.457-1.956 3.73-4.771-.179-.693-.093-1.093.548-1.371a1.141 1.141 0 0 0 .195-.136c1.661-1.2 1.516-2.467.092-3.789a3.8 3.8 0 0 0-2.342-1.043 7.583 7.583 0 0 1-3.055-.72 2.177 2.177 0 0 0-.606-.183c-.356-.069-.807-.287-1.051.01s.182.6.319.892c.219.473.738 1.017-.365 1.011a.447.447 0 0 0-.449.274c-.077.226.128.332.269.432.327.233.524.435.075.759-.375.269-.268.465.119.674a2.425 2.425 0 0 1 1.4 2.3 1.276 1.276 0 0 1-.817 1.241 1.766 1.766 0 0 1-1.942-.164 1.277 1.277 0 0 1-.4-1.433c.083-.333.206-.654.338-1.063zm5.9-1.724c.049-.207-.108-.55.235-.56.311-.009.41.281.391.567s-.127.58-.425.559c-.33-.024-.135-.371-.198-.567z' fill='%23dbadfc'/%3E%3C/svg%3E");
      line-height: var(--line-height);
      margin-right: var(--nav-item-margin-right);
      cursor: pointer;
      position: relative;


      a {
        color: var(--white);
      }

      &:hover a,
      &.current a {
        color: var(--pink-purple);
      }

      .nav-arrow {
        fill: var(--white);
      }

      &:hover a .nav-arrow {
        fill: var(--pink-purple);
      }


      // &.current::before,
      // &:not(.current):hover::before {
      &.current a {
        position: relative;
      }

      &.current a::before {
        position: absolute;
        content: "";
        width: 13px;
        aspect-ratio: 1/1;
        top: 50%;
        left: 0;
        transform: translate(-140%, -50%);
        background-image: var(--snake-svg-url);
        background-repeat: no-repeat;
      }

      @include rwd(850px) {
        &:hover .dropdown {
          visibility: initial;
          transform: translateY(0%);
          opacity: 1;

          transition: var(--transition-time-fast) var(--transition-ease-in-out);
          // width: 200px;

        }
      }


      .dropdown {
        // border: 1px solid red;
        transition: var(--transition-time-fast) var(--transition-ease-in-out);
        top: 50px;

        width: 100%;

        display: flex;
        flex-direction: column;
        color: var(--white) !important;
        font-size: 16px;
        border-radius: 6px;
        border: solid 0.5px rgba(197, 203, 254, 0.5);
        background-color: rgba(21, 23, 52, 0.95);
        box-shadow: inset 0 0 10px rgba(197, 203, 254, 0.5);
        transform: translateY(-10px);
        visibility: hidden;
        position: absolute;
        opacity: 0;
        transition: var(--transition-time) var(--transition-eases);

        @include rwd(850px) {
          position: absolute;
          width: 200px;
        }




        &.dropdownShow {
          visibility: inherit;
          transform: translateY(0%);
          opacity: 1;
          transition: var(--transition-time-fast) var(--transition-ease-in-out);
          position: initial;

          @include rwd(850px) {
            position: absolute;
            min-width: 200px;
          }
        }



        &:hover {
          color: var(--white) !important;
        }


        a {
          color: var(--white) !important;
        }


        .dropdown-link {
          width: 100%;
          // color: var(--white) !important;
          text-align: center;
          // padding: 0px 23px;
          transition: var(--transition-time) var(--transition-eases);
          
          &.dropdown-link:first-child a {
            padding-top: 5px;
          }

          &.dropdown-link:last-child a{
            padding-bottom: 5px;
          }

          &:hover {
            // color: var(--white);
            background-color: rgba(75, 81, 145, 0.8);
            box-shadow: inset 0 0 10px rgba(197, 203, 254, 0.5);
          }

          a{
            display: block;
            padding: 0px 23px;
          }


          @include rwd(850px) {
            text-align: start;
          }

        }


      }

      .dropdown-button{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        height: 100%;
      }



    }

    .mobile-wrap {
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
    }

    .top-end {
      display: var(--rwd-display);
      position: relative;
    }

    .coin-warp {
      line-height: var(--line-height);
      display: var(--rwd-display);

      >* {
        margin-right: var(--top-end-space-nav-end);
      }

      & img {
        margin-right: var(--icon-space);
      }
    }

    .locales {
      line-height: var(--line-height);
      margin-right: var(--top-end-space-nav-end);
      // height: 50px;

      cursor: pointer;
      position: relative;

      svg {
        height: 100%;
      }

      @include rwd(850px) {
        height: unset;
      }

      & .dropdown {
        @include rwd(850px) {
          width: 100px;
          transform: translateX(-50%)translateY(0%) !important;
          left: 50%;
        }
        
      }

    }
    
    .sign {
      margin: 10px auto;
    }

    .index-button {
      width: 95px;
      height: 32px;
    }
  }
}