* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");

html {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.cursor-pointer {
  cursor: pointer;
}
