.button {
    border-radius: 10px;
    height: 48px;
    padding: 0 18px;
    border: solid 0.5px rgba(197, 203, 254, 0.5);
    box-shadow: inset 0 0 10px 0px #c5cbfe80;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;

    svg {
        margin-right: 8px;
        fill: rgb(197, 203, 254);
    }
}

.filterDropdown {
    // border: 1px solid red;
    transition: var(--transition-time-fast) var(--transition-ease-in-out);
    top: 60px;

    width: 100%;

    display: flex;
    flex-direction: column;
    color: var(--white) !important;
    font-size: 16px;
    border-radius: 6px;
    border: solid 0.5px rgba(197, 203, 254, 0.5);
    background-color: rgba(21, 23, 52, 0.95);
    box-shadow: inset 0 0 10px rgba(197, 203, 254, 0.5);
    transform: translateY(-10px);
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: 0.15s ease-out;
    line-height: 2.8em;
    font-weight: 300;
    z-index: 1;


    @include rwd(850px) {
        position: absolute;
        width: 200px;
    }




    &.filterDropdownShow {
        visibility: inherit;
        transform: translateY(0%);
        opacity: 1;
        transition: var(--transition-time-fast) var(--transition-ease-in-out);
        position: initial;

        position: absolute;
        min-width: 200px;


        @include rwd(850px) {}
    }



    &:hover {
        color: var(--white) !important;
    }


    span {
        color: var(--white) !important;
    }

    .filter-type {
        background-color: rgb(75, 81, 145, 0.3);
        box-shadow: inset 0 0 10px 0px rgba(197, 203, 254, 0.1);
        display: block;
        padding: 0px 23px;

        display: flex;
        align-items: center;


        &:first-child {
            padding-top: 5px;
        }

        span {
            font-weight: 400;
        }
    }


    .dropdown-link {
        width: 100%;
        // color: var(--white) !important;
        text-align: center;
        // padding: 0px 23px;
        transition: var(--transition-time) var(--transition-eases);

        &.dropdown-link:first-child span {
            padding-top: 5px;
        }

        &.dropdown-link:last-child span {
            padding-bottom: 5px;
        }

        &:hover {
            // color: var(--white);
            background-color: rgba(75, 81, 145, 0.8);
            box-shadow: inset 0 0 10px rgba(197, 203, 254, 0.5);
            cursor: pointer;
        }

        span {
            display: block;
            padding: 0px 23px;

            display: flex;
            align-items: center;
        }


        @include rwd(850px) {
            text-align: start;
        }
    }

    .checkbox {
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid var(--lavender);
        margin-right: 10px;
        position: relative;
    }

    .checkMark {
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .checkboxCheck {
        background-color: var(--lavender);

        .checkMarkShow {
            opacity: 1;
        }
    }

    .checkbox-icon {
        margin-right: 3px;
    }


}