@import './_MarketNavigation';
@import './_CardList';
@import './_FilterDropdown';

.market_background{
    background-image: linear-gradient(to bottom, #111427, #222450 83%, #2a2b63);
    // height: 1000px;
    padding: 150px 0 230px;
}

.market-title{
    margin:  auto ;
    padding: 0 0 85px;
    color: var(--white);
    font-size: 46px;
    text-align: center;
}