.market-navigation {
    background-color: #1f223d;
    width: 100%;
    // height: 91px;
    margin-bottom: 80px;

    .market-navigation-block {
        // border: 1px solid red;
        max-width: 1130px;
        width: 90%;
        margin: 0 auto;
        display: flex;

        color: var(--lavender);
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: space-between;



        @include rwd-max(750px) {

            justify-content: center;

        }

        .left-block {
            display: flex;
            align-items: center;


            .type {
                width: 80px;
                height: 90px;

                border-radius: 7px;
                padding: 18px;
                display: inline-flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: center;

                transition: all 0.05s ease-in-out;
                cursor: pointer;
                // height: 100%;

                &:hover {
                    box-shadow: inset 0 0 10px 0px #c5cbfe80;
                    border: solid 0.5px rgba(197, 203, 254, 0.5);
                }

                &.current {
                    box-shadow: inset 0 0 10px 0px #c5cbfe80;
                    border: solid 0.5px rgba(197, 203, 254, 0.5);
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }


                .type-icon {
                    max-width: 33px;
                    max-height: 30px;
                }

                .type-name {
                    margin-top: 10px;
                }
            }

        }

        .right-block {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 15px 0;

            .dropdown-block {
                position: relative;

                &:not(:last-child) {
                    margin-right: 10px;
                }


            }





        }

    }


}